.album
	h2 Second E.P.<br> THE PROFESSIONALS
	h3: a(href="http://variousreasons.bandcamp.com/album/the-professionals-ep/") New EP out NOW. $3 on Bandcamp.
	a(href="http://variousreasons.bandcamp.com/album/the-professionals-ep/"): img(src="img/professionals-cover.jpg")