.album
  h2 New Release <br> "TWO EPs" CASSETTE TAPE
  h3: a(href="http://detroitindustrial.bandcamp.com") Remastered EPs on cassette / digital <br> on DETROIT INDUSTRIAL for $5
  p: a(href="http://detroitindustrial.bandcamp.com")
    img(src="img/two-eps-cover.jpg")
  p from the label: "a surprisingly listenable postpunk / minimalwave album that is scientifically precise and wrought with dystopian future’s emotional currents."