.album
	h2 "THE AGENT" Digital EP
	h3: a(href="http://variousreasons.bandcamp.com/album/the-agent-ep/") Released October 31. Buy on Bandcamp.
	a(href="http://variousreasons.bandcamp.com/album/the-agent-ep/"): img(src="img/agent-cover.jpg")