.showblock
	p NEW RELEASE available from <a href="http://industrialdetroit.com/music/vr/">DETROIT INDUSTRIAL</a> on Cassette and digital.
	p Currently booking shows in Eugene and surrounding area.


//- .showblock
	p VR has recently relocated to Eugene, OR and will soon be actively seeking shows again.

//- .showblock
	h3 Saturday September 27
	h4 Monkeywrench Books
	p Fundraiser for Monkeywrench Books featuring BLXPLTN, Las Krudas, and Sonoita. VR at 8pm.
	p: a(href="https://www.facebook.com/events/452974874843811/") More info

//- .showblock
	h3 Friday October 10
	h4 Beerland
	p with So Unloved, The Red Tent, Dextraphobia
	p: a(href="http://beerland.do512.com/event/2014/10/10/a-benefit-for-monkey-wrench-books-cat-so-unloved-the-red-tent-various-reasons-dextraphobia") More info


//- .showblock
	h3 SATURDAY JULY 12.
	h4 Gypsy Lounge
	p with Cautiontape. 10pm, outside stage.
//- .showblock
	h3 THURSDAY AUGUST 14
	h4 Cheer Up Charlie's
	p NITE SCHOOL with Mr. Kitty. 10pm, inside stage.


//-
	.section.sounds
	h2 This is what it sounds like
	.soundcloud
	iframe(width="100%",height="120",scrolling="no",frameborder="no",src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/147936721&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_artwork=false")