doctype html
html
	head
		title VARIOUS REASONS
		link(href='http://fonts.googleapis.com/css?family=Lato:300,300italic|Montserrat' rel='stylesheet',type='text/css')
		link(href='css/vr.css',rel='stylesheet',type='text/css')
		meta(name="viewport",content="width=device-width")
		meta(charset="utf-8")
	body
		.container
			.header
				h1 Various Reasons
				h3 
					span.vicon.icon-pyramid
					span.vicon.icon-cube
					span.vicon.icon-brain
			.section.reqs
				h2 Stage Requirements
				p Various Reasons uses a simple setup that is self-contained and self-mixed. We provide 2 DIs, ideally to be panned left and right but mono is totally acceptable.
				p A master limiter is employed at the end of the signal chain to help ensure consistency and sound system safety.
				p VR employs a portable projector operated by an iPad onstage. We have cables to connect to house projectors as well. In this case, there may be VR personnel to operate it unless someone from the venue is able.
				p
					a(href="/") « Home
